[Unit]
Description=Nillion Verifier Node
Requires=docker.service
After=docker.service

[Service]
Type=simple
Restart=always
WorkingDirectory={{ node_dir }}
ExecStart=/usr/bin/docker run --rm --name {{ NODE_NAME }} -v {{ node_dir }}:/var/tmp {{ DOCKER_IMAGE }} accuse --rpc-endpoint "https://testnet-nillion-rpc.lavenderfive.com" --block-start 5392038
ExecStop=/usr/bin/docker stop {{ NODE_NAME }}

[Install]
WantedBy=multi-user.target